.custom-theme {
    --ngx-timeline-icon: black;
    --ngx-timeline-period-inner-container: black;
    --ngx-timeline-line-background: black;
    --ngx-timeline-event-background: black;
    --ngx-timeline-event-divider-background: white;
    --ngx-timeline-event-text-color: white;
}