::ng-deep :root {
    --ngx-timeline-period-inner-container: orange;
    --ngx-timeline-icon: orange;
    --ngx-timeline-line-background: #464646;
    --ngx-timeline-flex-display-col: 49 49 0;
    --ngx-timeline-flex-display-col-center: 2 2 0;
  }