<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  >
  <span>Welcome</span>
  <div class="spacer"></div>
</div>
<div class="content" role="main">

  <h2 class="title">Ngx-Timeline</h2>

  <div class="inner-container">

    <!-- ALL CONFIGURATIONS -->
    <form [formGroup]="form">
      <div class="form-container">
        @for (configuration of configurations; track configuration) {
          <div class="form-select">
            <label>{{ configuration.label }}</label>
            <select formControlName="{{configuration.formControlName}}">
              @for (option of configuration.options; track option) {
                <option [ngValue]="option.value">{{ option.name }}</option>
              }
            </select>
          </div>
        }
      </div>
    </form>

    <div class="ngx-timeline-container" [ngClass]="{'custom-theme': form.get('customTheme')?.value}, 'ngx-timeline-container-virtual': form.get('virtualScrolling').value">
      <!-- ngx-timeline -->
      <ngx-timeline
        [events]="events"
        [ngClass]="form.get('customClass')?.value ? 'inter' : ''"
        [langCode]="form.get('langCode')?.value"
        [enableAnimation]="form.get('enableAnimation')?.value"
        [reverseOrder]="form.get('reverseOrder')?.value"
        [groupEvent]="form.get('groupEvent')?.value"
        [changeSide]="form.get('changeSide')?.value"
        [orientation]="form.get('orientation')?.value"
        [virtualScroll]="form.get('virtualScrolling').value"
        [virtualScrollItemSize]="virtualScrollItemSize()"
        [virtualScrollMaxBufferPx]="virtualScrollMaxBufferPx()"
        [virtualScrollMinBufferPx]="virtualScrollMinBufferPx()"
        [eventCustomTemplate]="form.get('eventCustomTemplate')?.value ? eventCustomTemplate : undefined"
        [innerEventCustomTemplate]="form.get('innerEventCustomTemplate')?.value ? innerEventCustomTemplate : undefined"
        [eventDescriptionCustomTemplate]="form.get('eventDescriptionCustomTemplate')?.value ? eventDescriptionCustomTemplate : undefined"
        [centerIconCustomTemplate]="form.get('centerIconCustomTemplate')?.value ? centerIconCustomTemplate : undefined"
        [dateInstantCustomTemplate]="form.get('dateInstantCustomTemplate')?.value ? dateInstantCustomTemplate : undefined"
        [periodCustomTemplate]="form.get('periodCustomTemplate')?.value ? periodCustomTemplate : undefined"
        (clickEmitter)="form.get('clickEmitter')?.value ? handleClick($event) : undefined"
      ></ngx-timeline>
    </div>

  </div>

  <!-- CUSTOM TEMPLATES -->
  <ng-template #periodCustomTemplate let-period=period let-index=index>
      <div class="period-inner-container">
        {{index}} - {{period?.firstDate | ngxdate}}
      </div>
  </ng-template>

  <ng-template #centerIconCustomTemplate let-event=event let-index=index>
    <div class="icon-container">
      <img src="assets/inter.png" alt="custom icon">
      <!-- {{event | json}} {{index | json}} -->
    </div>
  </ng-template>

  <ng-template #innerEventCustomTemplate let-event=event>
    <div class="event" (click)="handleClick(event)">
      {{event | json}}
    </div>
  </ng-template>

  <ng-template #eventDescriptionCustomTemplate let-event=event>
    <p class="event-info-description">{{event?.eventInfo?.description}}</p>
  </ng-template>

  <ng-template #eventCustomTemplate let-event=event let-colSidePosition=colSidePosition>
    <div class="event" (click)="handleClick(event)">
      {{event | json}}
    </div>
  </ng-template>

  <ng-template #dateInstantCustomTemplate let-item=item>
    <span>
      {{item?.timestamp | ngxdate : ngxDateFormat.FULL_DATE}}
    </span>
  </ng-template>

</div>
